.daterangepicker.dropdown-menu {
  max-width: none;
}



.daterangepicker .ranges, .daterangepicker .calendar{
  float: left;
  margin: 2px;
}

.daterangepicker .ranges {
  width: 160px;
  text-align: left;
}

.daterangepicker .calendar {
  display: none;
  max-width: 230px;
  line-height: 9px;
}

.daterangepicker .ranges{
  width: 160px;
  text-align: left;
}


.daterangepicker .calendar th, .daterangepicker .calendar td {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  white-space: nowrap;
  text-align: center;
  font-size: 10px;
}

.daterangepicker .ranges label {
  color: #333;
  font-size: 9px;
  margin-bottom: 2px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #fff;
}

.daterangepicker .ranges input {
  font-size: 9px;
}

.daterangepicker .ranges ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.daterangepicker .ranges li {
  font-size: 11px;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  color: #08c;
  padding: 2px 5px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
  background: #08c;
  border: 1px solid #08c;
  color: #fff;
}

.daterangepicker .calendar {
  border: 1px solid #ddd;
  padding: 2px;
  border-radius: 2px;
  background: #fff;
}

.daterangepicker {
  position: absolute;
  background: #fff;
  top: 100px;
  left: 20px;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


.daterangepicker:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}

.daterangepicker table {
  width: 100%;
  margin: 0;
}

.daterangepicker td, .daterangepicker th {
  text-align: center;
  width: 13px;
  max-width: 13px;
  min-width: 13px;

  height: 8px;
  max-height: 8px;
  min-height: 8px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  /*cursor: pointer;*/
  white-space: nowrap;
  margin: 2px;
  padding: 3px;
}

.daterangepicker td.available, .daterangepicker th.prev, .daterangepicker th.next { 
  cursor: pointer;
}


.daterangepicker td.today {
  background: #DDDDDD;
}

.daterangepicker tr.cheader th.available {
  padding: 0px;
  margin: 0px;
}

.daterangepicker tr.cheader th {
  padding-bottom: 4px;
}

/*---------- First range ----------*/

.daterangepicker td.in-range {
  background: #c6e8f8; /*#ebf4f8*/
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #006dcc;
  /*background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/*---------- /First range ----------*/
/*---------- Second range ----------*/

.daterangepicker td.in-range.second-range {
  background: #c6f8e8;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.daterangepicker td.active.second-range, .daterangepicker td.active.second-range:hover {
  background-color: #00cc6d;
  /*background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/*---------- /Second range ----------*/


.daterangepicker td.available:hover {
  background: gold;
}
.daterangepicker th.available:hover {
  background: gold;
}


.daterangepicker td.week, .daterangepicker th.week {
    font-size: 80%;
    color: #ccc;
}


.daterangepicker td.off {
  color: #EEE;
}
.daterangepicker td.disabled {
  color: #DDD;
}

.controls {
    display: block;
}

.controls .range-types, .controls button {
  float: right; 
  margin-left: 3px;
  margin-top: 5px;
}

.range-types li.active {
  background: #08c;
  color: #fff;
}

.range-types {
  margin-right: 10px;
}

.range-types li {
    margin-right: 3px;
    display: inline-block;
    font-size: 11px;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    color: #08c;
    padding: 2px 5px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

